<h1>Course Details</h1>

<div class="card">
	<div class="card-body">
		<h5 class="card-title"><%= @course.name %> (<%= @course.code %>)</h5>
		<p class="card-text">
			<strong>Credits:</strong> <%= @course.credits %><br>
			<strong>Teacher:</strong> <%= @course.teacher&.name %>
		</p>
	</div>
</div>

<h2 class="mt-4">Grades</h2>
<table class="table">
	<thead>
		<tr>
			<th>Student</th>
			<th>Grade</th>
		</tr>
	</thead>
	<tbody>
		<% @course.grades.includes(:student).each do |grade| %>
			<tr>
				<td><%= link_to grade.student.name, student_path(grade.student) %></td>
				<td><%= grade.value %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<div class="mt-3">
	<%= link_to 'Edit', edit_course_path(@course), class: 'btn btn-warning' %>
	<%= link_to 'Back', courses_path, class: 'btn btn-secondary' %>
</div>
